.home {
  background-color: #1f1d2b;
  width: 100%;
}

.nav {

  left: 0;
  position: fixed;
  right: 0;
  top: 0;


}

.containnav {
  background-image: url("../assets/backheader3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 5rem;

}



.rest {
  background-color: #1f1d2b;
  width: 90%;
  margin: 0 auto;
}

.getstart {
  background: url("../assets/backgetstart2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.getstart-rest {
  width: 100%;
  background-color: #1f1d2b;
}

.community {
  width: 100%;
}


footer {
  width: 100%;
}