:root {
  --main-bg-color: #1f1d2b;
  --main-linear-gradient: linear-gradient(126deg, #9B51E0 0%, #3081ED 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;

  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

::-webkit-scrollbar-thumb {
  background-color: #321856;
  border: 1px solid #fff;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: #6a3da9;
}